*{
    margin: 0;
    padding: 0;
    /*font-family:;*/
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    color: black;
}
#header{
    
    width: 100%;
    height: 12vh;
    background-image: url("");
    background-position: center;
    background-size: cover;

    
}
.container{
    
    padding: 7px 5%;
    background-color:rgb(21, 21, 64);
}

#sidemenu{
    margin-left: 700px;
}
nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color:rgb(21, 21, 64);
}
.logo{
    width: 140px;
}
nav ul li{
    
    display: inline-block;
    list-style:none;
    margin: 10px 20px;
}
nav ul li a{
    
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    transition: 0.5s;
    bottom: -6px;
}
nav ul li a:hover::after{
    width: 100%; 
}
.back{
    /* background-image: url(dashbg.png);   */
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
}



#services{
    padding:  30px 0;
}
#services .sub-title{
    color: black;
    font-size: 36px;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 40px;
    margin: 50px;
}
.res1{
    display: inline-block;
    margin-top:20px;
    margin-left: 350px;
}
.res1 .search{
    float:left;
   
    margin: 50px;
   
}
.services-list img{
    height: 25%;
    width: 25%;
}
.services-list #odiv i{
    font-size: 50px;
    margin-bottom:30px ;
}
.services-list #odiv h2{
    font-size:30px;
    font-weight: 500;
    margin-bottom:15px ;
}
.services-list #odiv a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
table{
    text-align: left;
}

.procon {
    display: flex;
    gap: 12px;
    max-width: 400px;
    width: 100%;
    background: #9740f4;
    border-radius: 12px;
    padding: 7px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  .procon .card {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
  }
  .card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #9740f4;
    border-radius: 50%;
  }
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #fff;
  }
  .card h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
  }
  .card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
  }
.card td{
    color: black;
}
  #rebut{
    border-color: #fff;
    margin-top: 10px;
    color:#071640;
    background: linear-gradient(to right, #e36bb3ce, #79d9f6);
    padding: 10px 20px;
    border-radius: 8px;
  }
  

  #uplos,#filterby{
    height: fit-content;
    width: fit-content;
    background: linear-gradient(to right, #e36bb3ce, #79d9f6);
    padding: 20px 40px;
    border-radius: 10px;
    height: 160px;
    width: 300px;
    
  }